<section class="Container">
    <div class="Cont1">
        <img src="../../../assets/login.png" alt="Login_image">
    </div>
  
    <div class="Cont2">
        <div class="Cont4">
            <img src="../../../assets/Logo.png" alt="login_logo">
        </div>
  
        <div class="Cont3">
            <form  
            [formGroup]="loginForm"  (submit)="onSubmit()">
                <div class="heading">
                    <p class="text-center">Forget Password</p>
                </div>
                <div class="Wrapper InputWrap">
                    <label for="userEmail">Enter your email address</label>
                    <input type="email" name="email" id="userEmail" formControlName="email" placeholder="Enter Email" autocomplete="off" (keypress)="onlysymbolvalidate($event)">
                    <span class="text_Validator" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')" >* Email is required</span>
                    <span class="text_Validator" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('email')" >* Must have a valid email</span>
                </div>
                    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Send Link To my Email</button>
            </form>
  
            <div class="goBackWrapper">
               Back to Sign in?  <a routerLink="">Go Back</a>
            </div>
        </div>
    </div>
  </section>
  