<section class="Container">
    <div class="Cont1">
        <img src="../../../assets/login.png" alt="Login_image">
    </div>
  
    <div class="Cont2">

  
        <div class="Cont3">
            <div class="Cont">
                <img src="../../../assets/mail.png" alt="Login_image">
            </div>
            <strong class="Cont5">Kindly check your email a link has been sent there to reset your password</strong>
            <div class="goBackWrapper">
               Back to Sign in?  <a routerLink="/">Go Back</a>
            </div>
        </div>
    </div>
  </section>
  