/* Add your styles here */
div {
    margin-bottom: 15px;
  }
  
  small {
    color: red;
  }
  .text-danger {
    font-size: 0.875rem;
  }
  .Cont1 {
    /* width: 45%; */
    background-image: url("../../../assets/Background.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .oldpasswrapper{
    margin-left: 15%;
 

  }