.sidebar {
    width: 20%;
    height: 100vh;
    color: white;
    background-color: #4285F4;
    position: fixed;
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}
.eyewrapper{
    margin-left: 1%;
}
.wrapperLogo{
    width: 100%;
    padding: 22px 20px 5px 20px;
}

.sidebar-logo {
    text-align: center;
    border-bottom: 1px solid white;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
}
.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
    margin: 10px 12px;
}
.sidebar-item{
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    padding-left: 12px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
}

.sidebar-item .icon{
    width: 22px;
    margin-right: 10px;
}

.sidebar-item .arrow{
    color: black;
}
.active {
    background-color: #FFF;
    color: #4285F4;
    width: 100%;
}

.inactive {
    background-color: #4285F4;
    color: white;
    width: 100%;
}
header{
    width: 100%;
    background-color: #fff;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 20px 25px 9px;
}
.wrapper{
    display: flex;
    margin-left: 20%;
}
.table-wrapper{
    margin-left: 20%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.ActiveWrapper{
    background-color: #81affa;
    border-radius: 6%;
    margin: 1%;
    margin-left: 4%;
}
.InactiveWrapper{
    background-color: #fde186;
    border-radius: 6%;
    margin: 1%;

}
.text-wrapper{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-left: 18%;
}
.profile-wrapper{
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    column-gap: 10px;
}

.profile-wrapper .img{
    width: 27px;
    height: 27px;
    border-radius: 50%;
}

.profile-wrapper .img img {
    width: 27px;
    height: 27px;
    border-radius: 50%;
}