
<div><div>
    <aside class="sidebar">
      <div class="wrapperLogo">
        <div class="sidebar-logo">
          <a routerLink="">Integrity Solution</a>
        </div>
      </div>

      <ul class="sidebar-nav">
        <li
          routerLink="/user-management/dashboard"
          class="sidebar-item active mb-4"
        >
          <span class="sidebar-link">
            <img
              class="icon"
              src="../../../assets/dashboard_icon.png"
              alt="dashboard_icon"
            />
            
            <span>Dashboard</span>
          </span>
        </li>

        <li
          class="sidebar-item inactive collapsed has-dropdown mb-2"
          data-bs-toggle="collapse"
          data-bs-target="#manageLinks"
          aria-controls="manageLinks"
        >
          <span class="sidebar-link" aria-expanded="false">
            <img
              class="icon"
              src="../../../assets/manageUser_icon.png"
              alt="manageUser_icon"
            />
        
            <span>Manage Users</span>
            <img
              class="arrow"
              src="../../../assets//dropdown_arrow.png"
              alt="dropdown_arrow"
              style="margin-left: 40px"
            />
          </span>
        </li>

        <ul
          id="manageLinks"
          class="sidebar-dropdown list-unstyled collapse"
          data-bs-parent="#sidebar"
        >
          <li
            routerLink="/user-management/add-user"
            class="sidebar-item active mb-2"
            style="padding-left: 48px"
          >
            <span class="sidebar-link" (click)="adduser()">Add User</span>
          </li>
        </ul>
      </ul>
    </aside>
  </div>
  <div>
    <header>
      <div class="container">
        <div class="text-wrapper">
          <p >Hi,Lima Taylor 👋</p>
        </div>

        <div class="profile-wrapper">
          <div class="img">
            <img src="../../../assets/user_dp.png" alt="user_dp" />
          </div>

          <div class="name">
            <p>Lima Taylor</p>
          </div>
        </div>
      </div>
    </header>
  </div>
    <div class="row wrapper">
        <div class="col-md-3 p-3 ActiveWrapper">
          <div class="row">
            <div class="col-4">
              <img src="../../../assets/Icon.png" alt="">
            </div>
            <div class="row"><h4>Active</h4></div>
            <div class="row"><p>{{ActiveUser}}</p></div>
          </div>

            </div>
        <div class="col-md-4 p-3 InactiveWrapper">
          
            <!-- <div class="row"> -->
              <div class="col-4">
                <img src="../../../assets/Icon (1).png" alt="">
              </div>
              <div class="col-4" style="margin-left: 50%;"><div class="row"><h4>Inactive</h4></div>
              <div class="row"> <p>{{InactiveUser}}</p></div>
            </div>
            <!-- </div> -->
            </div>
            <div class="col-md-3 p-3 PendingWrapper">
              <button class="btn btn-success" (click)="ExcelExport()">Export to Excel</button>
            </div>
    </div>
    <div class="table-wrapper" id="tblData">
        <h5 style="margin-left: 2%;">User Detail</h5>
        <table class="table table-striped">
          <thead>
              <tr>
                  <th (click)="sortData('firstName')">First Name <span class="sort-icon">{{sortColumn === 'firstName' ? (sortOrder === 'asc' ? '▲' : '▼') : ''}}</span></th>
                  <th (click)="sortData('middleName')">Middle Name <span class="sort-icon">{{sortColumn === 'middleName' ? (sortOrder === 'asc' ? '▲' : '▼') : ''}}</span></th>
                  <th (click)="sortData('lastName')">Last Name <span class="sort-icon">{{sortColumn === 'lastName' ? (sortOrder === 'asc' ? '▲' : '▼') : ''}}</span></th>
                  <th (click)="sortData('dateOfBirth')">DOB <span class="sort-icon">{{sortColumn === 'dateOfBirth' ? (sortOrder === 'asc' ? '▲' : '▼') : ''}}</span></th>
                  <th (click)="sortData('emailId')">Email <span class="sort-icon">{{sortColumn === 'emailId' ? (sortOrder === 'asc' ? '▲' : '▼') : ''}}</span></th>
                  <th (click)="sortData('phoneNumber')">Contact No <span class="sort-icon">{{sortColumn === 'phoneNumber' ? (sortOrder === 'asc' ? '▲' : '▼') : ''}}</span></th>
                  <th (click)="sortData('fpAddressGcs[0].city')">City <span class="sort-icon">{{sortColumn === 'fpAddressGcs[0].city' ? (sortOrder === 'asc' ? '▲' : '▼') : ''}}</span></th>
                  <th (click)="sortData('fpAddressGcs[0].state')">State <span class="sort-icon">{{sortColumn === 'fpAddressGcs[0].state' ? (sortOrder === 'asc' ? '▲' : '▼') : ''}}</span></th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let user of storedData | paginate: { itemsPerPage: 8, currentPage: p1, id: 'first' }">
                  <td>{{user.firstName}}</td>
                  <td>{{user.middleName}}</td>
                  <td>{{user.lastName}}</td>
                  <td>{{user.dateOfBirth}}</td>
                  <td>{{user.emailId}}</td>
                  <td>{{user.phoneNumber}}</td>
                  <ng-container *ngIf="user.fpAddressGcs.length > 0">
                      <td>{{user.fpAddressGcs[0].city}}</td>
                      <td>{{user.fpAddressGcs[0].state}}</td>
                  </ng-container>
                  <td>
                      <div (click)="editUser()"><mat-icon>edit</mat-icon></div>
                      <div (click)="deleteUser(user.id)"><mat-icon>delete</mat-icon></div>
                  </td>
              </tr>
          </tbody>
      </table>
      
          <pagination-controls class="pagination mt-3 justify-content-end" (pageChange)="p1 = $event" id="first"></pagination-controls>
    </div> 
</div>